// COLORS
$primary-color: #F7971E;
$secondary-color: #FFD200;

$white-color: #eee;

$dark-grey: #222;

$dark-blue-text: #222; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
